/* TOOLTIP */
/* CSS to control show hide behavior. Do not change */

[data-tooltip='container'] {
  position: relative;
}

[data-tooltip='trigger'] {
  cursor: pointer;
}

[role='tooltip'] {
  z-index: 4600;
  position: absolute;
  padding: 8px 12px;
  width: 280px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.25;
}

[role='tooltip']::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
   z-index: 4600;   
}

[role='tooltip'][aria-hidden='true'] {
  display: none;
}

[role='tooltip'][aria-hidden='false'] {
  display: block;
}

/* CSS for trigger and tooltip content styles. Ok to change */

/* standard */

.standard [data-tooltip='trigger'] {
  /* tooltip trigger */
  font-style: normal;
  font-weight: bold;
  color: darkslategray;
  margin-left: -3px;
}

.standard [role='tooltip'] {
  /* tooltip display */
  text-align: center;
  color: white;
  background-color: darkslategray;
}

.standard [role='tooltip']::after {
  /* arrow at bottom of tooltip display */
  border-color: darkslategray transparent transparent transparent;    
}

/* outline */

.outline [data-tooltip='trigger'] {
  /* tooltip trigger */
  font-style: italic;
  font-weight: bold;
  color: darkslategray;
  margin-left: -3px;
}

.outline [role='tooltip'] {
  /* tooltip display */
  text-align: center;
  color: darkslategray;
  background-color: white;
  border: 2px solid darkslategray;
}

.outline [role='tooltip']::after {
  /* arrow at bottom of tooltip display */
  border-color: darkslategray transparent transparent transparent;    
}

/* underline */

.underline [data-tooltip='trigger'] {
  /* tooltip trigger */
  font-style: normal;
  font-weight: bold;
  color: darkred;
  border-bottom: 1px dotted darkred;
}

.underline [data-tooltip='trigger']:hover {
  border-bottom-style: solid;
}

.underline [role='tooltip'] {
  /* tooltip display */
  text-align: center;
  color: white;
  background-color: darkred;
}

.underline [role='tooltip']::after {
  /* arrow at bottom of tooltip display */
  border-color: darkred transparent transparent transparent;    
}

/* square */

.square [data-tooltip='trigger']::after {
  /* tooltip trigger */
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  margin-left: -2px;
  margin-right: 4px;
  background-color: darkgreen;
}

.square [role='tooltip'] {
  /* tooltip display */
  text-align: center;
  color: white;
  background-color: darkgreen;
}

.square [role='tooltip']::after {
  /* arrow at bottom of tooltip display */
  border-color: darkgreen transparent transparent transparent;    
}

/* square */

.circle [data-tooltip='trigger']::after {
  /* tooltip trigger */
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: -2px;
  margin-right: 4px;
  background-color: slategray;
}

.circle [role='tooltip'] {
  /* tooltip display */
  text-align: center;
  color: white;
  background-color: slategray;
}

.circle [role='tooltip']::after {
  /* arrow at bottom of tooltip display */
  border-color: slategray transparent transparent transparent;    
}

